.btn {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: black;
    background: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
    position: sticky;
    bottom: 5%;
}
.btn:hover {
    background: white;
    color: black;
}