/* Email List Styles */
.contact-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 8rem; /* Reduce the space between the heading and the list */
    margin-bottom: 2rem; /* Add some space after the list */
}

.contact-list li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 215, 0, 1); /* Light red background */
    padding: 0.5rem;
    border-radius: 2em;
    color: #fff;
    max-width:15em;
    min-width:13em;
    /*width: min-content ; /* Adjust the width to fit the content */
    margin-left: auto; /* Center it horizontally */
    margin-right: auto; /* Center it horizontally */
}

.contact-list li a {
    text-decoration: none;
    color: black; 
    transition: color 0.3s ease;
}

.contact-list li a:hover {
    color: #ffffff; /* Change color on hover */
}
