html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top */
    background: black;
    color: white;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding-top: 2rem; /* Add padding to avoid sticking to the top */
}

h1 {
    font-size: clamp(4rem, 5vw, 4rem);
    text-transform: uppercase;
    margin: 7.5rem 0 0.5em 0; /* Adjusted margin to move h1 closer to the top */
    text-align: center;
}
h2 {
    font-size: clamp(4rem, 5vw, 4rem);
    text-transform: uppercase;
    margin: 7.5rem 0 0.5em 0; /* Adjusted margin to move h1 closer to the top */
    text-align: center;
    color: gold;
}



p {
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0 1rem 8rem 1rem; /* Adjusted bottom margin to move p up */
    margin-bottom: 2em;
    text-align: center;
}

/* Optional: Make content responsive within a container */
.container {
    max-width: 800px;
    padding: 1rem;
    text-align: center;
}
